@media only screen and (min-width: 800px) {
    .shoebox-navbar {
        padding-bottom: 0;
    }

    .shoebox-navbar nav {
        grid-template-areas: "logo search links";
    }

    .search-bar {
        justify-self: center;
    }

    main.shoebox-content {
        margin-top: 8rem;
    }

    .hero{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .hero .hero-content{
        text-align: left;
        margin: 3rem 0 0 1rem;
    }

    section.new-arrival-section .image-container {
        grid-template-columns: repeat(4, 1fr);
    }

    section.gender-cards-section  .gender-cards{
        grid-template-columns: 50% 50%;
    }

    main.product-content {
        grid-template-columns: 20% auto;
    }

    section.filter-drawer {
        display: block;
        position: static;
        width: auto;
        height: auto;
    }

    .filter-btn {
        display: none;
    }
}
