@import url('../base_styles/styles.css');
@import url('../base_styles/media.css');

/* navbar css */
.shoebox-navbar {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    padding: 0 1rem 1rem 1rem;
    background-color: var(--base-color);
}

.shoebox-navbar nav {
    display: grid;
    grid-template-areas:
        "logo links"
        "search search";
    align-items: center;
}

.shoebox-logo {
    grid-area: logo;
}

.shoebox-logo img {
    width: 16rem;
}

.nav-links {
    grid-area: links;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-links li {
    cursor: pointer;
    margin-right: 2rem;
}

.nav-links .btn-outline {
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.search-bar {
    grid-area: search;
}

.search-bar .simple-input {
    width: 100%;
    border-radius: var(--border-20);
}

.shoebox-navbar .badge-ico {
    background-color: var(--cta-color);
    color: var(--primary-color);
    font-weight: 600;
}
